.nav-bar{
    background-color: #37474F;
    height: 70px;
    display: flex;
    align-items: center;

    padding-left: 40px;
}

.nav-bar p {
    margin-left: 12px;
    font-weight: bold;
    font-size: 24px;
    color: #fff
}
.nav-bar span {
    color: #ED7947;
}