.home-container{
    height: calc(100vh - 70px);
    padding: 173px 150px 201px 140px;
    background: url(../../core/assets/bg-home.svg) repeat-x bottom left ;
}

.home-content{
    display: flex;
    justify-content: center;
}

.home-content h1 {
    color: #00D4FF;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 48px;
    margin-right: 69px;
}
.home-content p {
    color: #ED7947;
    font-size: 24px;
    letter-spacing: -0.015em;
    margin-bottom: 150px;
}

@media(max-height:800px){
    
    .home-content h1 {
        font-size: 40px;
    }
    .home-content p {
        font-size:20px
    }
    .gamer-img{
        width: 400px;
        height: 100%;
    }
    .home-container{
        background-image: none;
    }
}
