.home-container{
    background-color:#0B1F34;
    height: calc(100vh - 70px);
    padding: 173px 150px 201px 140px;
}

.home-content{
    display: flex;
    justify-content: center;
}

.home-content h1 {
    color: #00D4FF;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 48px;
    margin-right: 69px;
}
.home-content p {
    color: #ED7947;
    font-size: 24px;
    letter-spacing: -0.015em;
}