@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body{
    background-color: #0B1F34;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Play', sans-serif;
    text-decoration: none;
    list-style: none;
}

.option-bar{
    background-color: #37474F;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 13px 15px;
    display: flex;
    
}